<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <object th:include="fragments/layout :: styles" th:remove="tag" />
        <div class="col-md-9">
            <h3 class="issue-title" th:text="${project.projName}">Name</h3>
            <h3 class="issue-title" th:text="${project.projDescription}">Description</h3>
            <h3 class="issue-title" th:text="${project.company.name}">Company</h3>
            <h3 class="issue-title" th:text="${project.startDate}">Start Date</h3>
            <h3 class="issue-title" th:text="${project.releaseDate}">Release Date</h3>
        </div>
    </body>
</html>
