<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Manage projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<object th:include="fragments/layout :: styles" th:remove="tag" />

<div id="wrap">
    <div th:include="fragments/layout :: header" th:remove="tag">&nbsp;</div>

    <div class="container main-content">
        <div class="row">

            <div th:replace="fragments/layout :: sidebar">&nbsp;</div>

            <div id="main" class="col-md-9 col-xs-12">

                <div class="row">
                    <div class="col-md-3 nav-col text-left">
                        <a href="/" class="fancy-button medium blueRiver icon basic">
                            <span class="icon pull-left">
                                <i class="fa fa-chevron-left"></i>
                            </span>
                            &nbsp;Back
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h1 class="main-title text-center">Manage users</h1>
                    </div>
                    <div class="col-md-3">
                        <a href="/" class="fancy-button medium blueRiver icon basic" th:href="@{/project/add}">
                            <span class="icon pull-left">
                                <i class="fa fa-chevron-left"></i>
                            </span>
                            &nbsp;Add project
                        </a>
                    </div>
                </div>

                <div class="row">
                    <ul th:each="project : ${projects}">
                        <li>
                            <a class="btn" th:href="@{/project/details/} + ${project.projectId}" th:text="${project.projName}"></a>
                            <a class="btn" th:href="@{/project/edit/} + ${project.projectId}">Edit</a>
                            <a class="btn" th:href="@{/project/remove/} + ${project.projectId}">Remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="push"></div>
</div>

<div th:include="fragments/layout :: footer" th:remove="tag">&nbsp;</div>

<object th:include="fragments/layout :: script" th:remove="tag"/>

</body>
</html>