<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Edit user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
    <object th:include="fragments/layout :: styles" th:remove="tag" />

    <div id="wrap">
        <div th:include="fragments/layout :: header" th:remove="tag">&nbsp;</div>

        <div class="container main-content">
            <div class="row">
                <div class="col-md-3 nav-col text-left">
                    <a th:href="@{/users/manage}" class="fancy-button medium blueRiver icon basic">
                                        <span class="icon pull-left">
                                            <i class="fa fa-chevron-left"></i>
                                        </span>
                        &nbsp;Back
                    </a>
                </div>
                <div class="col-md-6 nav-col text-left">
                    <h1 class="main-title text-center" th:text="${user.fullName}"></h1>
                </div>
                <div class="col-md-3 text-right">
                    <a th:href="@{/user/add}" class="fancy-button medium blueRiver icon basic pull-right">
                                <span class="icon pull-left">
                                    <i class="fa fa-user-plus"></i>
                                </span>
                        &nbsp;Add user
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <form th:object="${user}" method="POST" th:action="@{/user/update}" enctype="utf8" data-toggle="validator">
                        <input type="hidden" class="form-control" id="userId" placeholder="userId" name="userId" th:value="*{userId}"/>
                        <div class="with-errors" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
                        <div class="form-group">
                            <label th:text="#{label.user.firstName}"></label>
                            <input type="text" class="form-control" id="firstName" placeholder="firstName" th:field="*{firstName}" required maxlength="40"/>
                            <div class="help-block with-errors"></div>
                            <div class="with-errors" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.user.lastName}"></label>
                            <input type="text" class="form-control" id="lastName" placeholder="lastName" th:field="*{lastName}" required maxlength="40"/>
                            <div class="help-block with-errors"></div>
                            <div class="with-errors" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
                        </div>
                        <button  class="fancy-button medium blueHole basic login-button" type="submit" th:text="#{label.form.submit}"></button>
                    </form>
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>

    <div th:include="fragments/layout :: footer" th:remove="tag">&nbsp;</div>

    <object th:include="fragments/layout :: script" th:remove="tag"/>

</body>
</html>
