<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:text="#{message.fatalError}"></div>
        <div class="col-md-4"> 
            <img class="img-responsive" src="/theflow/resources/img/crab.jpg" width="100%"/>
        </div>
        <p>
        <div th:text="'&lt;!--'" th:remove="tag"></div>
        <div th:text="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
        <div th:text="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
        <ul th:remove="tag">
            <li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span th:text="${ste}" th:remove="tag">${ste}</span></li>
        </ul>
    </body>
</html>
