<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="image_src" th:href="@{/resources/img/logo.png}">
  </head>
  <body>
    <object th:include="fragments/layout :: styles" th:remove="tag"></object>
    <div class="container-login">
      <div class="outer">
        <div class="inner">
          <div class="centered">
            <div class="logo logo-login"><i class="fa fa-paper-plane"></i><strong class="text-left"><small>the</small><b>Flow</b></strong></div>
            <div class="row">
              <div class="col-md-12">
                <div role="alert" th:if="${error}" class="alert alert-danger alert-dismissible fade in">
                  <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button><strong th:text="${error}"></strong>
                </div>
                <div role="alert" th:if="${warning}" class="alert alert-warning alert-dismissible fade in">
                  <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button><strong th:text="${warning}"></strong>
                </div>
              </div>
            </div>
            <form id="loginForm" data-toggle="validator" th:action="@{'/j_spring_security_check'}" method="post" class="form-signin">
              <h2 class="form-signin-heading">Please sign in</h2>
              <div th:if="${param.error}" class="alert alert-warning">Invalid input.</div>
              <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>
              <div th:if="${message}" th:text="${message}" class="alert alert-info"></div>
              <div class="form-group">
                <label for="username" class="sr-only">Email address</label>
                <input id="username" type="email" name="username" placeholder="Email address" required="required" autofocus="" data-error="Invalid email" class="form-control">
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label for="username" class="sr-only">Company subdomain</label>
                <input id="companyAlias" type="text" name="companyAlias" placeholder="Company alias" required="required" autofocus="" data-error="Invalid company alias" class="form-control">
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input id="password" type="password" name="password" placeholder="Password" required="required" data-error="Please, enter your password" data-minlength="6" data-minlength-error="Your password is too short, minimum 6 characters required" class="form-control">
                <div class="help-block with-errors"></div>
              </div>
              <div class="checkbox">
                <label></label>
                <input type="checkbox" value="remember-me">Remember me
              </div>
              <div class="row buttons-row">
                <div class="col-md-4"><a th:href="@{/user/registration}" class="fancy-button medium asbestos basic login-button text-center">Sign up<span class="icon"><i class="fa fa-user-plus"></i></span></a></div>
                <div class="col-md-4">
                  <button type="submit" class="fancy-button medium blueHole basic login-button">Submit<span class="icon"><i class="fa fa-paper-plane"></i></span></button>
                </div>
                <div class="col-md-4"><a th:href="@{/index}" class="fancy-button medium asbestos basic login-button text-center">Home<span class="icon"><i class="fa fa-home"></i></span></a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <object th:include="fragments/layout :: script" th:remove="tag"></object>
  </body>
</html>