<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <title>New user</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="image_src" href="/theflow/resources/img/logo.png" />
    </head>
    <body>
        <object th:include="fragments/layout :: styles" th:remove="tag" />
        <div class="container">
            <div class="outer">
                <div class="inner">
                    <div class="centered">
                        <form th:object="${user}" method="POST" th:action="@{/user/saveaccount}" enctype="utf8" class="form-signin" data-toggle="validator">
                            <div class="logo logo-login">
                                <i class="fa fa-paper-plane"></i><strong class="text-left"><small>the</small><b>Flow</b></strong>
                            </div>
                            <h2 class="form-signin-heading text-center" th:text="#{label.form.title}"></h2>
                            <div class="form-group">
                                <label th:text="#{label.user.firstName}"></label>
                                <input type="text" class="form-control" id="firstName" placeholder="firstName" th:field="*{firstName}" required/>
                                <div class="help-block with-errors"></div>
                                <div class="with-errors" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.user.lastName}"></label>
                                <input type="text" class="form-control" id="lastName" placeholder="lastName" th:field="*{lastName}" required/>
                                <div class="help-block with-errors"></div>
                                <div class="with-errors" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.user.company.name}"></label>
                                <input type="text" class="form-control" id="companyName" placeholder="companyName" th:field="*{companyName}" required/>
                                <div class="help-block with-errors"></div>
                                <div class="with-errors" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">Name Error</div>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.user.company.alias}"></label>
                                <input type="text" class="form-control" id="companyAlias" placeholder="companyAlias" th:field="*{companyAlias}" required/>
                                <div class="help-block with-errors"></div>
                                <div class="with-errors" th:if="${#fields.hasErrors('companyAlias')}" th:errors="*{companyAlias}">Name Error</div>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.user.email}"></label>
                                <input type="text" class="form-control" id="email" placeholder="email" th:field="*{email}" required/>
                                <div class="help-block with-errors"></div>
                                <div class="with-errors" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="password" placeholder="password" th:field="*{password}"/>
                                <div class="help-block with-errors"></div>
                                <div class="with-errors" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="passwordconfirm" data-match="#password" placeholder="password" th:field="*{matchingPassword}"/>
                                <div class="help-block with-errors"></div>
                                <div class="with-errors" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <h1>Add existing user</h1>
                                <form method="POST" th:action="@{/signin/new_account_user_exists}" th:object="${user}">
                                    <div class="form-group">
                                        <label th:text="${user.email}"></label>
                                        <input type="hidden" class="form-control" id="username" placeholder="email"
                                               th:name="username" th:value="${user.email}" required/>

                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="companyName" placeholder="email"
                                               th:name="company_name" th:value="${user.companyName}" required/>

                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="companyAlias" placeholder="email"
                                               th:name="company_alias" th:value="${user.companyAlias}" required/>

                                    </div>
                                    <button class="fancy-button medium blueHole basic login-button" type="submit"
                                            th:text="#{label.form.add}"></button>
                                    <div class="row buttons-row">
                                        <div class="col-md-4">
                                            <a class="fancy-button medium asbestos basic login-button text-center" th:href="@{/login}">
                                                Sign in
                                                <span class="icon">
                                                    <i class="fa fa-paper-plane"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="fancy-button medium blueHole basic login-button" type="submit">
                                                Submit
                                                <span class="icon">
                                                    <i class="fa fa-user-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <a class="fancy-button medium asbestos basic login-button text-center" th:href="@{/index}">
                                                Home
                                                <span class="icon">
                                                    <i class="fa fa-home"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <object th:include="fragments/layout :: script" th:remove="tag"/>
    </body>

</html>
