<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>TODO write content</div>
<form method="GET" th:action="@{/issues/search}">
    <div class="form-group">
        <label for="exampleInputEmail1">to me</label>
        <input type="checkbox" id="to_me" name="to_me">
        <label for="exampleInputEmail1">high</label>
        <input type="checkbox" id="high" name="high">
        <label for="exampleInputEmail1">task</label>
        <input type="checkbox" id="task" name="task">
        <label for="exampleInputEmail1">bug</label>
        <input type="checkbox" id="bug" name="bug">
        <label for="exampleInputEmail1">new</label>
        <input type="checkbox" id="new" name="new">
        <label for="exampleInputEmail1">project</label>
        <input type="text" class="form-control" id="project_id"  name="project_id" placeholder="Project id">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>
