<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <title>Welcome!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
    </head>
    <body>
    	<object th:include="fragments/layout :: styles" th:remove="tag" />

    	<div id="wrap">        
            <div th:include="fragments/layout :: header" th:remove="tag">&nbsp;</div>
            
            <div class="container main-content">
            	<div class="row">
                
                	<div th:replace="fragments/layout :: sidebar">&nbsp;</div>
                    
                    <div id="main" class="col-md-9 col-xs-12">
                    
                        <h1 class="main-title text-center">Welcome <span sec:authentication="name">username</span></h1>
                    
                        <div th:replace="issue/table :: issue-list">&nbsp;</div>

                    </div>
                
                </div> 
            </div>
        	<div id="push"></div>
        </div>
        
        <div th:include="fragments/layout :: footer" th:remove="tag">&nbsp;</div>
        
        <sec:authorize access="hasRole('admin')" var="isAdmin"></sec:authorize>        
        <object th:include="fragments/layout :: script" th:remove="tag"/>
    
    </body>
</html>