doctype html
html(xmlns:th='http://www.thymeleaf.org', xmlns:tiles='http://www.thymeleaf.org')
    head
        title theFlow Presentation
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        link(rel='stylesheet', href="css/compiled.landing.min.css", type="text/css", th:href="@{/resources/css/compiled.landing.min.css}")
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(href="http://fonts.googleapis.com/css?family=Slabo+27px", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic", rel="stylesheet", type="text/css")
        link(rel="shortcut icon", href="img/favicon.png", th:href="@{/resources/img/favicon.png}")
    body.loading
        .loader
            img.load-icon(src="img/svg/logo.svg", th:src="@{/resources/img/svg/logo.svg}")
            .circle
        header.entry-header
            .navbar.navbar-default
                .container
                    .navbar-header
                        button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#bs-navbar-collapse")
                            i.fa.fa-paper-plane
                        a.navbar-brand.nav-decks(href="#slide-1")
                            i.navbar-brand-bg
                            i.logo
                                img(src="img/svg/logo.svg", th:src="@{/resources/img/svg/logo.svg}")
                            span the
                                b Flow
                    div.collapse.navbar-collapse.pull-right#bs-navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a.nav-decks.fancy-button.basic.current-nav(href="#slide-1",data-toggle="tooltip", data-placement="bottom", title="Home")
                                    i.fa.fa-paper-plane
                            li
                                a.nav-decks.fancy-button.basic(href="#slide-2",data-toggle="tooltip", data-placement="bottom", title="Technologies")
                                    i.fa.fa-cogs
                            li
                                a.nav-decks.fancy-button.basic(href="#slide-3",data-toggle="tooltip", data-placement="bottom", title="Contact")
                                    i.fa.fa-envelope
        main
            section#slide-1.homeSlide
                .bcg(data-center="opacity:1;",data-top-bottom="opacity:0;",data-anchor-target="#slide-1")
                    .hsContainer(data-center="opacity: 1;", data-top-bottom="opacity: 1;", data-anchor-target="#slide-1")
                        .hsContent(data-center="opacity: 1;right:0px;",data-top="opacity: 1;right:0px;",data-bottom="opacity: 1;right:0px;",data-top-bottom="opacity: 0;right:-550px;",data-bottom-top="opacity: 0;right:-550px;", data-anchor-target="#slide-1")
                            h2 About theFlow
                            p theFlow is the smart and simple issue tracking system. It will help you to provide your project management on a new level. With theFlow you are always aware of your tasks status. Task distribution is seen to every member of your team, this helps to make task distribution more automatically and to avoid synchronous execution of the same work by team members. theFlow will save your time and increase work productivity. You can try it with a simple registration or with built in credentials, which you can find on the login page. Your feedbacks or proposals are very important to us, so you can leave your comment at the bottom.
                            p
                                strong Please attention! This is the demo version deployed for demonstration and testing. Database refreshes time-to-time, your data can be removed.
                    .hsCarousel(data-center="opacity: 1;", data-top-bottom="opacity: 1;", data-anchor-target="#slide-1")
                        ul.carouselContent(data-center="opacity: 1;right:0px;",data-top="opacity: 1;right:0px;",data-bottom="opacity: 1;right:0px;",data-bottom-top="opacity: 1;right:0px;",data-top-bottom="opacity: 0;right:-1500px;", data-anchor-target="#slide-1")
                            li.item.blue
                                a(data-toggle="tooltip", data-placement="top", title="Registration", th:href="@{/user/registration}")
                                    i.fa.fa-user-plus
                                    span Registration
                            li.item.blue
                                a(data-toggle="tooltip", data-placement="top", title="Login", th:href="@{/login}")
                                    i.glyphicon.glyphicon-new-window
                                    span Login
                            li.item.blue
                                a(data-toggle="tooltip", data-placement="top", title="Cabinet", th:href="@{/cabinet_login}")
                                    i.fa.fa-briefcase
                                    span Cabinet
                            li.item.blue
                                a(data-toggle="tooltip", data-placement="top", title="Manual", th:href="@{/manual}")
                                    i.fa.fa-book
                                    span Manual
            section#slide-2.homeSlide.slideLeft
                .bcg(data-center="opacity:1;",data-top-bottom="opacity:0;",data--100-bottom="opacity: 1",data--100-top="opacity: 1",data-anchor-target="#slide-2")
                    .hsContainer(data-center="opacity: 1;", data-top-bottom="opacity: 1;", data-anchor-target="#slide-2")
                        .hsContent(data-center="opacity: 1;left:0px;",data-top-bottom="opacity: 0;left:-550px;",data-top="opacity: 1;left:0px;",data-bottom="opacity: 1;left:0px;",data-bottom-top="opacity: 0;left:-550px;", data-anchor-target="#slide-2")
                            h2 Technologies
                            p  theFlow is being developing with use of up-to-date technologies. We use Spring, Spring Security, Hibernate, MySql, Thymeleaf, Grunt, Bower. Now you can see the short version of the project. Many modules and features are going to be added, or are in work just now, such as time management and agile tools.
                    .hsCarousel(data-center="opacity: 1;", data-top-bottom="opacity: 1;", data-anchor-target="#slide-2")
                        ul.carouselContent(data-center="opacity: 1;right:0px;",data-top="opacity: 1;right:0px;",data-bottom="opacity: 1;right:0px;",data-bottom-top="opacity: 0;right:1500px;",data-top-bottom="opacity: 0;right:-1500px;", data-anchor-target="#slide-2")
                            li.item
                                a(data-toggle="tooltip", data-placement="top", title="Java Enterprise")
                                    img(src="img/techs/javaee.png",th:src="@{/resources/img/techs/javaee.png}",alt="")
                            li.item
                                a(data-toggle="tooltip", data-placement="top", title="Spring")
                                    img(src="img/techs/spring.png",th:src="@{/resources/img/techs/spring.png}",alt="")
                            li.item
                                a(data-toggle="tooltip", data-placement="top", title="Themeleaf")
                                    img(src="img/techs/themeleaf.png",th:src="@{/resources/img/techs/themeleaf.png}",alt="")
                            li.item
                                a(data-toggle="tooltip", data-placement="top", title="Hibernate")
                                    img(src="img/techs/hibernate.png",th:src="@{/resources/img/techs/hibernate.png}",alt="")
                            li.item
                                a(data-toggle="tooltip", data-placement="top", title="MySql")
                                    img(src="img/techs/mysql.png",th:src="@{/resources/img/techs/mysql.png}",alt="")
                            li.item
                                a(data-toggle="tooltip", data-placement="top", title="Node JS")
                                    img(src="img/techs/nodejs.png",th:src="@{/resources/img/techs/nodejs.png}",alt="")
                            li.item
                                a(data-toggle="tooltip", data-placement="top", title="Bower")
                                    img(src="img/techs/bower.png",th:src="@{/resources/img/techs/bower.png}",alt="")
                            li.item
                                a(data-toggle="tooltip", data-placement="top", title="Grunt")
                                    img(src="img/techs/grunt.png",th:src="@{/resources/img/techs/grunt.png}",alt="")
            section#slide-3.homeSlide
                .bcg.bcg2(data-bottom-top="opacity: 1;", data-center="opacity: 1;", data-anchor-target="#slide-3")
                    .hsContainer(data-center="opacity: 1;", data-top-bottom="opacity: 1;", data-anchor-target="#slide-3")
                        .hsContent(data-center="opacity: 1;right:0px;",data-top="opacity: 1;right:0px;",data-bottom="opacity: 1;right:0px;",data-bottom-top="opacity: 0;right:-550px;", data-anchor-target="#slide-3")
                            h2 Contact us
                            p We are young and small team of professionals and enthusiasts. You can contact us for any questions by the form below. Also you can leave your feedbacks or proposals. It is very important to us!
                            .contact-form
                                form(method='post',data-toggle="validator", role="form")
                                    .control-group.form-group
                                        .row
                                            .col-md-3
                                                label.nameLabel(for='name') Name
                                            .col-md-9
                                                input#name.form-control(type='text', name='name', required="required")
                                                .help-block.with-errors
                                    .control-group.form-group
                                        .row
                                            .col-md-3
                                                label.emailLabel(for='email') Email
                                             .col-md-9
                                                input#email.form-control(type='email', name='email', required="required")
                                                .help-block.with-errors
                                    .control-group.form-group
                                        .row
                                            .col-md-3
                                                label.messageLabel(for='message') Message
                                            .col-md-9
                                                textarea#message.form-control(name='message', required="required")
                                                .help-block.with-errors
                                    .row
                                        .col-md-12
                                            .control-group.form-group.text-center
                                                button.btn.btn-default(type='submit') Send
                                            .loader
                                                i.fa.fa-spinner.fa-spin &nbsp;
                                            h3.status-message-contact Form is send. Thank you for feedback.
                    .hsCarousel(data-center="opacity: 1;", data-top-bottom="opacity: 1;", data-anchor-target="#slide-3")
                        ul.carouselContent(data-center="opacity: 1;right:0px;",data-top="opacity: 1;right:0px;",data-bottom="opacity: 1;right:0px;",data-bottom-top="opacity: 0;right:1500px;",data-top-bottom="opacity: 0;right:-1500px;", data-anchor-target="#slide-3")
                            li.item.blue
                                a(href="https://www.facebook.com/profile.php?id=100003958631050", target="_blank")
                                    i.fa.fa-facebook
                                    span Facebook
                            li.item.blue
                                a(href="http://vk.com/dhammiko", target="_blank")
                                    i.fa.fa-vk
                                    span Vkontakte
                            li.item.blue
                                a(href="https://www.linkedin.com/profile/view?id=168603661", target="_blank")
                                    i.fa.fa-linkedin
                                    span Linkedin
                            li.item.blue
                                a(href="mailto:skoval.mail@gmail.com", target="_blank")
                                    i.fa.fa-envelope
                                    span Email
        script(src="js/compiled.landing.min.js", type="text/javascript", th:src="@{/resources/js/compiled.landing.min.js}")