<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
        <title>New issue</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="image_src" th:href="@{/resources/img/logo.png}">
  </head>
  <body>
    <object th:include="fragments/layout :: styles" th:remove="tag"></object>
    <div id="wrap">
      <div th:include="fragments/layout :: header" th:remove="tag">&nbsp;</div>
      <div class="container main-content">
        <div class="row">
          <div class="col-md-3 nav-col text-left"><a th:href="@{/issue/all}" class="fancy-button medium blueRiver icon basic"><span class="icon pull-left"><i class="fa fa-chevron-left"></i></span>&nbsp;Back</a></div>
          <div class="col-md-6">
            <h1 th:text="#{issue.create.title}" class="main-title text-center">Create issue</h1>
          </div>
          <div class="col-md-3 text-right"><a th:href="@{/issue/all}" class="fancy-button medium blueRiver icon basic"><span class="icon pull-left"><i class="fa fa-list"></i></span>&nbsp;All issues</a></div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <form id="createIssueForm" data-toggle="validator" th:object="${issue}" th:action="@{save}" method="post" class="form-horizontal issue-full-form">
              <div class="form-group">
                <label for="title" th:text="#{label.issue.title}" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input id="title" type="text" placeholder="Title" th:field="*{title}" required="" maxlength="50" class="form-control">
                  <div class="help-block with-errors"></div>
                  <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="description" th:text="#{label.issue.description}" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <textarea id="description" th:field="*{description}" maxlength="1000" class="form-control"></textarea>
                  <div class="help-block with-errors"></div>
                  <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="type" th:text="#{label.issue.type}" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                  <select id="type" th:field="*{type}" required="" class="selectpicker">
                    <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
                  </select>
                  <div class="help-block with-errors"></div>
                  <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="priority" th:text="#{label.issue.priority}" class="col-sm-2 control-label">Priority</label>
                <div class="col-sm-10">
                  <select id="priority" th:field="*{priority}" class="selectpicker">
                    <option th:each="priority : ${priorities}" th:value="${priority}" th:text="${priority}"></option>
                  </select>
                  <div class="help-block with-errors"></div>
                  <div th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}" class="with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="assignee_id" th:text="#{label.issue.assignee}" class="col-sm-2 control-label">Assignee</label>
                <div class="col-sm-10">
                  <select id="assignee_id" th:field="*{assigneeId}" class="selectpicker">
                    <option th:each="assignee : ${assignees}" th:value="${assignee.userId}" th:text="${assignee.fullName}"></option>
                  </select>
                  <div class="help-block with-errors"></div>
                  <div th:if="${#fields.hasErrors('assigneeId')}" th:errors="*{assigneeId}" class="with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="project_id" th:text="#{label.issue.project}" class="col-sm-2 control-label">Project</label>
                <div class="col-sm-10">
                  <select id="project_id" th:field="*{projectId}" class="selectpicker">
                    <option th:each="project : ${projects}" th:value="${project.projectId}" th:text="${project.projName}"></option>
                  </select>
                  <div class="help-block with-errors"></div>
                  <div th:if="${#fields.hasErrors('projectId')}" th:errors="*{projectId}" class="with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="estimated_time" th:text="#{label.issue.esttime}" class="col-sm-2 control-label">Estimated time:</label>
                <div class="col-sm-10">
                  <div class="date">
                    <input id="estimated_time" type="text" th:field="*{estimatedTime}" value="00:00" class="form-control logtimerange">
                  </div>
                  <div class="help-block with-errors"></div>
                  <div th:if="${#fields.hasErrors('estimatedTime')}" th:errors="*{estimatedTime}" class="with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <button type="submit" class="fancy-button medium blueRiver basic nomargin">Create<span class="icon"><i class="fa fa-check-circle"></i></span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div th:include="fragments/layout :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'" th:remove="tag">&nbsp;</div>
    <object th:include="fragments/layout :: script" th:remove="tag"></object>
  </body>
</html>