<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Issues list</h1>
        <!--<div th:text = "${issue.issueId}"></div>-->

        <table>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>STATUS</th>
                <th>TYPE</th>
                <th>PRIORITY</th>
                <th>ASSIGNEE</th>
            </tr>
            <tr th:each="issue : ${issues}">
                <td th:text="${issue.issueId}">id</td>
                <td th:text="${issue.title}">title</td>
                <td th:text="${issue.status}">status</td>
                <td th:text="${issue.type}">type</td>
                <td th:text="${issue.priority}">priority</td>
                <td th:text="${issue.assignee.lastName}">assignee</td>
            </tr>
        </table>
    </body>
</html>
