<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
    <object th:include="fragments/layout :: styles" th:remove="tag"/>

    <div id="wrap">
        <div th:include="fragments/layout :: header" th:remove="tag">&nbsp;</div>

        <div class="container main-content">
            <div class="row">

                <div th:replace="fragments/layout :: sidebar">&nbsp;</div>

                <div id="main" class="col-md-9 col-xs-12">

                    <div th:fragment="issue-list">

                        <th:block th:if="${message != null}">
                            <!--/* The message code is returned from the @Controller */-->
                            <div th:replace="fragments/alert :: alert">&nbsp;</div>
                        </th:block>

                        <table id="issuesList" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th th:text="#{label.issue.title}">TITLE</th>
                                <th th:text="#{label.issue.status}">STATUS</th>
                                <th th:text="#{label.issue.type}">TYPE</th>
                                <th th:text="#{label.issue.priority}">PRIORITY</th>
                                <th th:text="#{label.issue.assignee}">ASSIGNEE</th>
                                <th class="tools-cell">Tools</th>
                            </tr>
                            </thead>

                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th th:text="#{label.issue.title}">TITLE</th>
                                <th th:text="#{label.issue.status}">STATUS</th>
                                <th th:text="#{label.issue.type}">TYPE</th>
                                <th th:text="#{label.issue.priority}">PRIORITY</th>
                                <th th:text="#{label.issue.assignee}">ASSIGNEE</th>
                                <th class="tools-cell">Tools</th>
                            </tr>
                            </tfoot>

                            <tbody>
                            <tr th:each="issue : ${issues}">
                                <td th:text="${issue.issueId}">id</td>
                                <td><a th:href="@{'/issue/details/' + ${issue.issueId}}" th:text="${issue.title}">name</a>
                                </td>
                                <td class="status-cell">
                                    <div class="dropdown">
                                        <i th:text="${issue.status} + '-filter'"></i>
                                        <button type="button"
                                                class="btn btn-default dropdown-toggle fancy-button small blueRiver basic status-toggle text-left cell-button"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span th:text="${issue.status}"></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu status-dropdown" role="menu">
                                            <li th:if="${issue.status.toString()} != 'New'"><a
                                                th:href="@{'/issue/' + ${issue.issueId} + '/status?status=new'}">New</a>
                                            </li>
                                            <li th:if="${issue.status.toString()} != 'Review'"><a
                                                th:href="@{'/issue/' + ${issue.issueId} + '/status?status=review'}">Review</a>
                                            </li>
                                            <li th:if="${issue.status.toString()} != 'In Progress'"><a
                                                th:href="@{'/issue/' + ${issue.issueId} + '/status?status=in_progress'}">In
                                                Progress</a></li>
                                            <li th:if="${issue.status.toString()} != 'Resolved'"><a
                                                th:href="@{'/issue/' + ${issue.issueId} + '/status?status=resolved'}">Resolved</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="type-cell">
                                    <i th:text="${issue.type + '-filter'}"></i>
                                    <div class="dropdown">
                                        <button type="button"
                                                class="btn btn-default dropdown-toggle fancy-button small blueRiver basic type-toggle text-left cell-button"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span th:text="${issue.type}"></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu type-dropdown" role="menu">
                                            <li th:if="${issue.type.toString()} != 'Bug'"><a
                                                th:href="@{'/issue/' + ${issue.issueId} + '/type?type=bug'}">Bug</a></li>
                                            <li th:if="${issue.type.toString()} != 'Task'"><a
                                                th:href="@{'/issue/' + ${issue.issueId} + '/type?type=task'}">Task</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="priority-cell">
                                    <i th:text="${issue.priority + '-filter'}"></i>
                                    <div class="dropdown">
                                        <button type="button"
                                                class="btn btn-default dropdown-toggle fancy-button small blueRiver basic type-toggle text-left cell-button"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span th:text="${issue.priority}"></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu type-dropdown" role="menu">
                                            <li th:if="${issue.priority.toString()} != 'Bug'"><a
                                                th:href="@{'/issue/' + ${issue.issueId} + '/priority?priority=high'}">High</a>
                                            </li>
                                            <li th:if="${issue.priority.toString()} != 'Medium'"><a
                                                th:href="@{'/issue/' + ${issue.issueId} + '/priority?priority=medium'}">Medium</a>
                                            </li>
                                            <li th:if="${issue.priority.toString()} != 'Low'"><a
                                                th:href="@{'/issue/' + ${issue.issueId} + '/priority?priority=low'}">Low</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="assignee-cell" th:rel="${issue.assignee.fullName}">
                                    <i th:text="${issue.assignee.fullName + '-filter'}"></i>
                                    <div class="dropdown">
                                        <button type="button"
                                                class="btn btn-default dropdown-toggle fancy-button small blueRiver basic type-toggle text-left cell-button"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span th:text="${issue.assignee.fullName}"></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu assignee-dropdown" role="menu">
                                            <li th:each="user : ${users}"
                                                th:if="${user.fullName.toString()} != ${issue.assignee.fullName}">
                                                <a th:href="@{'/issue/' + ${issue.issueId} + '/assignee?assignee=' + ${user.userId}}"
                                                   th:text="${user.fullName}">User name</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="tools-cell">
                                    <div class="dropdown">
                                        <button type="button"
                                                class="btn btn-default dropdown-toggle fancy-button small blueHole basic"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu status-dropdown" role="menu">
                                            <li><a href="#" th:href="@{'/issue/edit/' + ${issue.issueId}}">Edit</a></li>
                                            <li><a href="#" th:href="@{'/issue/assign/' + ${issue.issueId}}">Assign to
                                                me</a></li>
                                            <li><a href="#" th:href="@{'/issue/remove/' + ${issue.issueId}}">Remove</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>

    <div th:include="fragments/layout :: footer" th:remove="tag">&nbsp;</div>

    <sec:authorize access="hasRole('admin')" var="isAdmin"></sec:authorize>
    <object th:include="fragments/layout :: script" th:remove="tag"/>

</body>
</html>
