<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    </head>
    <body>
    	<object th:include="fragments/layout :: styles" th:remove="tag" />

    	<div id="wrap">        
            <div th:include="fragments/layout :: header" th:remove="tag">&nbsp;</div>
            
            <div class="container main-content">
            	<div class="row">
                
                	<div th:replace="fragments/layout :: sidebar">&nbsp;</div>
                    
                    <div id="main" class="col-md-9 col-xs-12">
                    
                    	<h1 class="main-title text-center">Issues list</h1>

                        <div th:fragment="issue-list">                           
                            
                            <th:block th:if="${message != null}">
                                <!--/* The message code is returned from the @Controller */-->
                                <div th:replace="fragments/alert :: alert">&nbsp;</div>
                            </th:block>
                                                
                            <table id="issuesList" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>TITLE</th>
                                        <th>STATUS</th>
                                        <th>TYPE</th>
                                        <th>PRIORITY</th>
                                        <th>ASSIGNEE</th>
                                    </tr>
                                </thead>
                                             
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>TITLE</th>
                                        <th>STATUS</th>
                                        <th>TYPE</th>
                                        <th>PRIORITY</th>
                                        <th>ASSIGNEE</th>
                                    </tr>
                                </tfoot>
                             
                                <tbody>
                                    <tr th:each="issue : ${issues}">
                                        <td th:text="${issue.issueId}">id</td>
                                        <td th:text="${issue.title}">title</td>
                                        <td th:text="${issue.status}">status</td>
                                        <td th:text="${issue.type}">type</td>
                                        <td th:text="${issue.priority}">priority</td>
                                        <td th:text="${issue.assignee.lastName}">assignee</td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>                        
					</div>                
                </div> 
            </div>
        	<div id="push"></div>
        </div>
        
        <div th:include="fragments/layout :: footer" th:remove="tag">&nbsp;</div>
        
        <sec:authorize access="hasRole('admin')" var="isAdmin"></sec:authorize>        
        <object th:include="fragments/layout :: script" th:remove="tag"/>
    
</body>
</html>
